body {
  margin: 0;
  font-family: Helvetica, Sans-Serif;
  background-color: #2A3A6B;
  background-image: url(../images/background/wall.jpg);
  background-attachment: fixed;
}

header {
  position: relative;
  width: 100%;
  height: 200px;
  background: #5F6AFF;
  background-image: url(../images/sky2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header h1 {
  position: absolute;
  display: block;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  width: 450px;
  height: 27px;
  color: #555;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px 0 15px;
  background: rgba(255,255,255,0.8);
  border: 5px solid #4184FF;
}

section {
  width: 1000px;
  margin: 0 auto;
}

#navMenu {
  position: relative;
  display: block;
  width: 100%;
  height: 70px;
  background: #2E3F71;
}

#MenuLinks {
  border: 1px solid #4184FF;
  background-color: #586797;
  padding: 5px;
  margin-top: 0;
}

.navBut {
  display: inline-block;

  width: 140px;
  border: 1px solid #4184FF;
  box-shadow: 1px 1px 1px #000000;
  background-color: #2E3F71;
  padding: 20px;
  text-align: center;
  margin-left: 10px;
}

.navBut a {
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

.center {
  width: 100%;
  margin-bottom: 50px;
}

footer {
  margin-top: 50px; 
  width: 100%;
  height: 560px;
  background: #8C93F6;
}

.info {
  font-size: 18px;
  display: block;
  border: 1px solid #4184FF;
  border-radius: 2px;
  width: calc(100%-60px);
  text-align: left;
  background: #2E3F71;
  padding: 5px 30px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.info h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #FFFFFF;
  text-shadow: 2px 2px 2px #000000
}

.info p {
  color: #FFFFFF;
}

.info q {
  color: #FFFFFF;
  font-size: 15px;
  display: block;
  margin: 10px;
}

.links {
  position: relative;
  display: block;
  overflow: hidden;
  border: 1px solid #4184FF;
  border-radius: 1px;
  width: 100%;
  background: #586797;
}

.linksSep {
  display: inline-block;
  transform: scale3d(1, 1, 1);

  box-shadow: 5px 5px 5px #000000;
  border: 1px solid #4184FF;
  border-radius: 2px;
  width: 273px;
  margin: 18px;
  height: 500px;
  background: #2E3F71;
  float: left;
  padding: 10px;
  transition: transform 0.1s;
}

.linksSep h2 {
  color: #FFFFFF;
  text-shadow: 2px 2px 2px #000000;
  text-align: center;
  text-decoration: none;
}

.linksSep p {
  color: #FFFFFF;
  text-align: center;
}

.imgLink {
  width: 273px;
  height: 273px;
}

.linksSep:hover {
  transform: scale3d(1.04, 1.04, 1);
}

.linksSepH {
  display: inline-block;
  transform: scale3d(1, 1, 1);

  box-shadow: 5px 5px 5px #000000;
  border: 1px solid #4184FF;
  border-radius: 2px;
  margin: 18px;
  height: 100px;
  width: 940px;
  background: #2E3F71;
  float: center;
  padding: 10px;
  transition: transform 0.1s;
}

.linksSepH h2 {
  color: #FFFFFF;
  text-shadow: 2px 2px 2px #000000;
  text-align: center;
}

.linksSepH p {
  color: #FFFFFF;
  text-align: center;
}

.imgLinkH {
  width: 100px;
  height: 100px;
}

.linksSepH:hover {
  transform: scale3d(1.02, 1.02, 1);
}

.imgLink:hover {
  color: #FFFFFF;
  filter: brightness(1.2);
 }

.botBox {
  width: 100%; 
  height: 100%;
}

iframe {
  width: 100%; 
  height: 100%;
}